* {
  background:     #11111B;
  background-alt: #242438;
  foreground:     #89DCEB;
  selected:       #F5C2E7;
  active:         #9ECE6A;
  urgent:         #F7768E;
  button:         @background-alt;
  // font: "FZLanTingYuan-DB-GBK 11";
}

configuration {
  font: "JetBrainsMono Nerd Font 12";
}

